.contente-container{
    margin: 100px;
    border: 1px solid #d8d7d7;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

//if small screen 
@media (max-width: 768px) {
  .contente-container{
    margin-left: 0px;
  }
}
.image-container{
    margin: 0px;
    margin-right: 24px;
}
.no-padding{
    padding: 0px;
    margin-left: 10px;
}

.title{
  font-size: 14px;
  color: darkgrey;
}
.title-margin{
  margin-top: 5px;
}

.information-container{
    height: 208px;
    width: 100%;
    margin:0px;
    .first-row{
      display:flex;
      margin-bottom: 10px;
      margin-top: 12px;
      .borrow-container{
        position: relative;
        float: right;
        display:flex;
        margin-left: auto;
        margin-right: 12px;
        .borrow-button{
          text-align: center;
          outline: none;
          height: 36px;
          width: 210px;
          margin-right: 12px;
          background: none;
          border: 1px solid #0A1747;
          color: #0c1c46;
          border-radius: 4px;
          display: flex;
          align-items: center;
          cursor: pointer;
          p{
            font-size: 14px;
            line-height: 18px;
            margin: 0px;
            align-items: centre;
            text-align: center;
          }
        }
      }
    }
  }
