.licence{
    // margin-top: 20%;
  }
  .image-all{
    display: block;
    margin: auto;
  }
  .dropdown{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .more-dropdown{
    padding: 0px 5px;
    cursor: pointer;
  }
  .dropdown-menu{
    li{
      padding: 0px 10px;
      cursor: pointer;
    }
  }
  #logo-bam{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 25px;
  }
  .card {
    height : 300px;
    color: black;
    position: relative;
    max-width: 255px;
    .card-title{
      font-size: 20px;
      margin-top: 10px;
      text-align: center;
      color:black;
      height: 30px;
      overflow: hidden;
      white-space: nowrap;
    }
    .card-sub-title{
      text-align: center;
      color: #9e9e9e;
      margin-top: 5px;
      max-height: 20px;
      max-width: 250px;
      overflow: hidden;
    }
    .card-time{
      color: #9e9e9e;
    }
    .card-description{
      margin-top: 40px;
      color: gray;
    }
    .agency-logo{
      display: inline-block;
      height: 20px;
      margin-right: 10px;
    }
    .agency-data{
      margin: 20px 0px;
    }
  }
  .iframe-call{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: 500px;
    border: none;
  }
  .scale-up {
    cursor: pointer;
    &:hover {
     -webkit-transform: scale(1.07);
     -moz-transform: scale(1.07);
     -ms-transform: scale(1.07);
     -o-transform: scale(1.07);
     transform: scale(1.07);
     -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
     -o-transition: all 0.4s ease-in-out;
     transition: all 0.4s ease-in-out;
    }
  }
  #add-card{
    width: 95%;
    margin: 10px auto 0px;
  }
  .card-head{
    position: absolute;
    top :0px;
    right: 0px;
    width: 100%;
    padding: 10px 25px;
    font-size: 18px;
    color: white;
    background-color: #7CC7AB;
  }
  .add-text{
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: gray;
  }
  .link-gray{
    color: gray;
    &:hover{
      color: gray;
    }
  }
  .floating-card{
    background-color: white;
    margin: 10px auto;
    padding: 0px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 0 51px 0 rgba(0,0,0,.08), 0 6px 18px 0 rgba(0,0,0,.05);
    h1{
      font-weight: 700;
      font-size: 22px;
      margin-left: 25px;
    }
    h2{
      color:black;
      font-weight: 700;
      font-size: 17px;
      margin-left: 10px;
    }
    hr{
      width: 30%;
      border-top: 5px solid #72e5ab;
    }
  }
  .en-savoir-plus{
    text-align: center;
  }
  .text-color {
    color : black;
    &:visited {
      color: black
    }
  }
  .espace {
    margin-top: 15px;
    position: relative;
    margin-left: 30px;
  }
  .plus {
    width: 100%;
    height: 100%;
    color: gray;
    text-align: center;
    padding: 30px;
    font-size: 126px;
  }
  .center {
    text-align: center;
  }
  .bold {
    font-weight: bold;
  }
  
  .open-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: start;
    bottom: 10px;
    right: calc(50% - 40px);
  }
  
  .supp-btn{
    position: relative;
    top: 3px;
  }
  .padded{
    padding: 20px;
  }
  .btn-primary-border, .availability-btn {
    text-align: center;
    cursor: pointer;
    line-height: 14px;
    height: 35px;
    width: 96px;
    padding: 0px 15px;
    background: white;
    display: block;
    border-radius: 5px;
    color: #6a696a !important;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: linear;
    box-shadow: 0px 0 0 #5c5b5d inset;
    border: 1px solid #5c5b5d;
    margin-top: 10px;

  }
  .image-container{
    outline: none;
    height: 100%;
    background-size: cover;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
    filter: brightness(0.7);
    width: 100%;
    margin-left: 0px
  }
  .info-container{
    height: 120px;
    margin: 5px;
    color: white;
    text-align: center;
  }
  .icon-container{
    display: flex;
    flex-direction: column;
    color: white;
    span{
      background-color: white;
      // height: 6px;
      margin-bottom: 5px;
      border-radius: 50%;
      height: 4px;
      width: 4px;
    }
  }
  .custom-licence-wrapper{
    position: absolute;
    z-index: 1;
    padding: 8px;
    color: white;
  }
  