
nav{

}
.justify-content-center {
  justify-content: center!important;
  position: absolute !important;
  left: 40% !important;
}
.to-lef-side{
  position: absolute !important;
  left: 90% !important;
}