
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  margin-left: 48px !important;
}
.justify-content-center {
  justify-content: center!important;
  position: absolute !important;
  left: 40% !important;
}
.to-lef-side{
  position: absolute !important;
  left: 90% !important;
}
